<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Viz.WrkModule.Spep.Db.Properties.Settings.ConnectionString" connectionString="Provider=SQLOLEDB.1;Data Source=ASUMSES;Password=123;User ID=s00048;Initial Catalog=Metall" providerName="System.Data.OleDb"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
